<div class="home-section">
  <mat-toolbar class="bg-transparent flex justify-center m-auto w-screen absolute z-10 my-4">

    <!-- Left Navigation -->
    <div class="flex-1 flex justify-center mr-auto">
      <a class="mx-2 text-white text-sm py-2 px-4">Download App</a>
      <a class="mx-2 text-white text-sm py-2 px-4">Become a Partner</a>
    </div>
    <!-- Logo -->
    <div class="mx-12 py-2 px-4 text-white">FRONTEND <span class="text-main">TEST</span></div>
    <!-- Right Navigation -->
    <div class="flex-1 flex justify-center ml-auto">
      <button mat-icon-button class="text-white text-sm"><mat-icon>search</mat-icon></button>
      <a class="mx-2 text-white text-sm py-2 px-4">Sign Up</a>
      <a class="mx-2 text-white text-sm bg-main hover:bg-main text-white py-2 px-4 rounded-md">Login</a>
    </div>
  </mat-toolbar>
  <div class="h-3/6 bg-hero-pattern absolute inset-0 flex justify-center z-0">
  <div class="text-white h-3/6 absolute bottom-0 justify-center">
    <div class="text-6xl text-center my-2">Restaurants</div>
    <div class="text-2xl text-center my-2">Book your table</div>
  </div>
  </div>

<!--  <h1>Buttons</h1>-->

<!--  <mat-card>-->

<!--    <button mat-button>Basic</button>-->
<!--    <button mat-raised-button>Raised</button>-->
<!--    <button mat-icon-button><mat-icon>favorite</mat-icon></button>-->
<!--    <button mat-fab>Fab</button>-->
<!--    <button mat-mini-fab>mFab</button>-->

<!--  </mat-card>-->
</div>
